*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 70px;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}
.logo{
    font-size: 22px;
    color: white;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.links a{
    color: rgb(184, 184, 184);
}
main{
    padding: 0 20px 0 20px;
}
.note{
    background-color: rgb(154, 235, 255);
    padding: 10px;
    height: 50px;
    width: 600px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 8px;
    color: rgb(0, 78, 78);
    
}
.pink{
    color: rgb(255, 80, 109);
}
.note p{
    margin-top: 8px;
}

.getstarted-btn{
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(7, 137, 243);
    border: none;
    color: white;
    margin-top: 20px;
}

.links a:hover{
    text-decoration: none;
    color: rgb(132, 132, 132);
}
.links a:active{
    text-decoration: none;
    color: rgb(184, 184, 184);
}





/* PAGE SECTIONS */

/* HOME */
.home{
    display: none;
}




/* REGISTER */
.register{
    display: none;
}

form{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-dsgn{
    display: flex;
    flex-direction: column;
}
form input{
    height: 40px;
    border-radius: 6px;
    padding: 4px;
    font-size: 20px;
}
.actions{
    display: flex;
    gap: 10px;
}



/* VERIFY-EMAIL */
.verify-email{
    display: none;
}
.vrfy-txt{
    padding: 20px;
    width: 30%;
    background-color: #d2e7dd;
    border-radius: 8px;
}






